linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_93.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_186.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_46.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_373.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_93.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_186.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_373.png
linearity_figures/control_matrix_pinhole_0.685_pixels_256_oversampling_2.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_5.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_11.png
figures/pupil_width_error_control_matrix.png
figures/rms_mag_0.685_iterative.png
figures/rms_mag_0.685.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_23.png
figures/oversampling_error_control_matrix.png
figures/oversampling_error_iterative_method_pytorch.png
figures/oversampling_error_iterative_method.png
figures/pupil_width_error_iterative_method_pytorch.png
linearity_figures/control_matrix_pinhole_0.685_pixels_512_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_512_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_512_oversampling_11.png
zernike_maps/0.685_pinhole_map_8_11.npy
zernike_maps/0.685_pinhole_map_16_11.npy
zernike_maps/0.685_pinhole_map_32_11.npy
zernike_maps/0.685_pinhole_map_64_2.npy
zernike_maps/0.685_pinhole_map_64_5.npy
zernike_maps/0.685_pinhole_map_64_11.npy
zernike_maps/0.685_pinhole_map_64_23.npy
zernike_maps/0.685_pinhole_map_64_46.npy
zernike_maps/0.685_pinhole_map_64_93.npy
zernike_maps/0.685_pinhole_map_64_186.npy
zernike_maps/0.685_pinhole_map_128_11.npy
zernike_maps/0.685_pinhole_map_256_11.npy
zernike_maps/0.685_pinhole_map_512_11.npy
zernike_maps/0.685_pinhole_map_1024_11.npy
zernike_maps/0.685_pinhole_map_2048_11.npy
zernike_maps/1_pinhole_map_64_4.npy
zernike_maps/20_zernikes_8.npy
zernike_maps/20_zernikes_16.npy
zernike_maps/20_zernikes_32.npy
zernike_maps/20_zernikes_64.npy
zernike_maps/20_zernikes_128.npy
zernike_maps/20_zernikes_256.npy
zernike_maps/20_zernikes_512.npy
zernike_maps/20_zernikes_1024.npy
zernike_maps/20_zernikes_2048.npy
figures/comparison.png
figures/oversampling_error_control_matrix.png
figures/rms_and_turb.png
figures/rms_mag_0.685_iterative_pytorch_more.png
figures/rms_mag_0.685_iterative_pytorch.png
figures/rms_vs_turb.png
linearity_figures/control_matrix_pinhole_0.685_pixels_4_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_4_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_4_oversampling_93.png
linearity_figures/control_matrix_pinhole_0.685_pixels_4_oversampling_373.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_4_oversampling_5.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_4_oversampling_23.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_4_oversampling_93.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_4_oversampling_373.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_16_oversampling_5.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_16_oversampling_23.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_16_oversampling_93.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_64_oversampling_5.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_64_oversampling_23.png
turbulence_data/rms_mag_0.685_iterative_pytorch_more.npy
turbulence_data/rms_mag_0.685_iterative_pytorch.npy
zernike_maps/0.685_pinhole_map_4_5.npy
zernike_maps/0.685_pinhole_map_4_23.npy
zernike_maps/0.685_pinhole_map_4_93.npy
zernike_maps/0.685_pinhole_map_4_373.npy
zernike_maps/0.685_pinhole_map_16_5.npy
zernike_maps/0.685_pinhole_map_16_23.npy
zernike_maps/0.685_pinhole_map_16_93.npy
zernike_maps/0.685_pinhole_map_256_23.npy
zernike_maps/16_zernikes_4.npy
zernike_maps/16_zernikes_16.npy
zernike_maps/16_zernikes_64.npy
zernike_maps/50_KL_256.npy
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_93.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_16_oversampling_373.png
linearity_figures/iterative_pytorch_diff_pinhole_0.685_pixels_64_oversampling_93.png
