linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_93.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_186.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_32_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_64_oversampling_46.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_5.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_11.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_23.png
linearity_figures/control_matrix_pinhole_0.685_pixels_128_oversampling_46.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_2.png
linearity_figures/control_matrix_pinhole_0.685_pixels_8_oversampling_373.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_93.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_186.png
linearity_figures/control_matrix_pinhole_0.685_pixels_16_oversampling_373.png
linearity_figures/control_matrix_pinhole_0.685_pixels_256_oversampling_2.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_5.png
linearity_figures/iterative_pinhole_0.685_pixels_8_oversampling_11.png
